:root {
   --bg-image: url(../images/cover-image.png);
  --bg-header-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --font-subject-color: #ff0070;
  --font-subtitle-color: #000028;
  --font-text-color: #f1b2ce;
  --title-color: #db00ff;
  --fuchsia-color: #ff0070;
  --decorated-zone-color: #ff0070;
  --menu-button-color: #ff0070;
  --font-weight-lv: 400;
  --font-weight-vll: 700;
  --font-size: 18px;
  --padding: 10px;
}
@media (min-width: 768px) {
   :root {
      --padding: 20px;
   }
}
@media (min-width: 1024px) {
   :root {
      --title-heading-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
   }
}
